<div class="question_title"><%= @question.title %></div>
<div class="question_title1">内容</div>
<div class=question_title2><%= @question.content %></div>



<h1>Answer</h1>

<%= link_to "解答", answer_new_path %> 









