<h1>top</h1>


<div class="main">
 
   <%= link_to "Question", questions_path %>
   <%= link_to "Quest", "#" %>
   <%= link_to "Post", "#" %>

  <!--   <img src="/assets/f-280.png">
   
   
   <img src="/assets/l80.png">
   
   
   <img src="/assets/f0_1280.png">
   -->
</div>

